body {
  box-sizing: border-box;
  overflow-x: hidden;
}

h2 {
  text-align: center;
}

.primary-header span {
  margin-top: 1rem;
  margin-left: 5rem;
  display: inline-block;
}

nav {
  display: inline-block;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  padding: 0;
  margin: 0;
  gap: var(--gap, 1rem);
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .primary-navigation {
    --gap:2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: min(20vh, 10rem) 10em 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0%);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: red;
    width: 2rem;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url(icon-hamburger.png);
    background-repeat: no-repeat;
    border: 0;
    top: 2rem;
    right: 2rem;
  }
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(close-hamb.png);
    background-repeat: no-repeat;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.black-header {
  background-color: #1E1E1E;
  color: #FFFFFF;
  height: 625px;
}

.col {
  margin-top: 150px;
  flex-direction: column;
}

.col a {
  margin-top: 100px;
  margin-left: 30px;
  text-align: center;
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row span {
  padding: 30px;
}

.second-block h2 {
  margin-top: 60px;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  width: 295px;
  margin-top: 50px;
  padding: 20px;
  height: 440px;
  background-color: #D4D2CE;
}

.info-item h3 {
  text-align: center;
  position: relative;
}

.info p {
  margin-top: 10px;
  text-align: center;
  color: #752302;
}

.info ul {
  margin-top: 40px;
}

.info li {
  margin-top: 10px;
}

.btn-more {
  margin-left: 100px;
  position: absolute;
  margin-top: 370px;
}

.info .btn-more:hover {
  text-decoration: underline;
}

.third-block h2 {
  text-align: center;
  margin-top: 100px;
  padding-top: 50px;
}

.third-block {
  background-color: #EEAE35;
  padding-bottom: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  gap: 35px;
  margin-top: 100px;
}

.advantage_item {
  padding: 40px;
  width: 450px;
  border-radius: 50px;
  background-color: #FFFFFF;
  height: 300px;
  margin: 0 auto;
}

.advantage_item h4 {
  color: #752302;
  font-size: 1.1rem;
  padding-top: 10px;
}

.fourth-block {
  background-color: #1E1E1E;
  color: #FFFFFF;
  text-align: center;
}

.calculate {
  border: 2px solid #D4D2CE;
  display: inline-block;
  margin: 50px;
  border-radius: 30px;
}

.calculate-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
  gap: 150px;
  text-align: start;
}

.calculate-text {
  margin-left: 50px;
}

.amount-of-beds-country {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.dropdown {
  width: 190px;
  height: 50px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #1E1E1E;
  cursor: pointer;
  outline: none;
}

.price {
  width: 330px;
  height: 360px;
  text-align: center;
  background-color: #2B2A2A;
  border: 2px solid #D4D2CE;
  border-radius: 30px;
}

.comm-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.comm-item {
  width: 540px;
  border: 1px solid #752302;
  border-radius: 30px;
  padding: 30px;
}

.view-btn {
  display: block;
  text-align: center;
  margin-top: 70px;
}

.view-btn a {
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #752302;
}

.view-btn a:hover {
  background-color: #752302;
  color: #FFFFFF;
}

.black-footer {
  background: #1E1E1E;
  color: #FFFFFF;
  text-align: center;
  margin-top: 80px;
}

.black-footer p {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
