body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.btn {
  transition: 0.4s;
}

h2 {
  text-align: center;
}

header {
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
}

.logo {
  font-weight: 600;
  font-size: 2rem;
}

.navbar {
  display: flex;
}

.navbar a {
  color: #FFFFFF;
  padding: 10px 20px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
}

.navbar a:hover {
  color: #ff792a;
  transition: 0.4s;
}

#login {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

#login:hover {
  background-color: #FFFFFF;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.black-header {
  background-color: #1E1E1E;
  color: #FFFFFF;
  height: 625px;
}

.col {
  margin-top: 150px;
  flex-direction: column;
}

.col a {
  margin-top: 100px;
  margin-left: 30px;
  text-align: center;
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row span {
  padding: 30px;
}

.second-block h2 {
  margin-top: 60px;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  max-width: 295px;
  margin-top: 50px;
  padding: 20px;
  height: 440px;
  background-color: #D4D2CE;
}

.info-item h3 {
  text-align: center;
  position: relative;
}

.info p {
  margin-top: 10px;
  text-align: center;
  color: #752302;
}

.info ul {
  margin-top: 40px;
}

.info li {
  margin-top: 10px;
}

.btn-more {
  margin-left: 100px;
  position: absolute;
  margin-top: 370px;
}

.info .btn-more:hover {
  text-decoration: underline;
}

.third-block h2 {
  text-align: center;
  margin-top: 100px;
  padding-top: 50px;
}

.third-block {
  background-color: #EEAE35;
  padding-bottom: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  gap: 35px;
  margin-top: 100px;
}

.advantage_item {
  padding: 40px;
  width: 450px;
  border-radius: 50px;
  background-color: #FFFFFF;
  height: 300px;
  margin: 0 auto;
}

.advantage_item h4 {
  color: #752302;
  font-size: 1.1rem;
  padding-top: 10px;
}

.fourth-block {
  background-color: #1E1E1E;
  color: #FFFFFF;
  text-align: center;
}

.calculate {
  border: 2px solid #D4D2CE;
  display: inline-block;
  margin: 40px;
  border-radius: 30px;
}

.calculate-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px;
  gap: 100px;
  text-align: start;
}

.calculate-text {
  margin-left: 10px;
}

.select {
  display: flex;
  flex-direction: column;
}

.amount-of-beds-country {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 35px;
}

.dropdown {
  width: 190px;
  height: 50px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #1E1E1E;
  cursor: pointer;
  outline: none;
}

.price {
  width: 330px;
  height: 360px;
  text-align: center;
  background-color: #2B2A2A;
  border: 2px solid #D4D2CE;
  border-radius: 30px;
}

.comm-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.comm-item {
  width: 540px;
  border: 1px solid #752302;
  border-radius: 30px;
  padding: 30px;
}

.view-btn {
  display: block;
  text-align: center;
  margin-top: 70px;
}

.view-btn a {
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #752302;
}

.view-btn a:hover {
  background-color: #752302;
  color: #FFFFFF;
}

.black-footer {
  background: #1E1E1E;
  color: #FFFFFF;
  text-align: center;
  margin-top: 80px;
}

.black-footer p {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 25px;
}

@media (max-width: 1560px) {
  header {
    padding: 15px 40px;
  }
}
@media (max-width: 900px) {
  #menu-icon {
    display: initial;
  }
  #login {
    border: none;
  }
  header .navbar {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #1E1E1E;
    transition: 0.3s;
  }
  header .navbar.active {
    top: 70px;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
  }
  .list-in-info-item li {
    font-size: 15px;
  }
}
@media (max-width: 720px) {
  header {
    padding: 10px 25px;
  }
  .col img {
    display: none;
  }
  .row {
    justify-content: center;
  }
  .list-in-info-item li {
    font-size: 13px;
  }
  .btn-more {
    font-size: 15px;
  }
}
@media (max-width: 625px) {
  .advantage_item {
    width: 380px;
  }
  .advantage_item h3 {
    font-size: 20px;
  }
  .advantage_item h4 {
    font-size: 16px;
  }
  .advantage_item p {
    font-size: 13px;
  }
  .calculate-text h5 {
    font-size: 13px;
  }
  .calculate-text p {
    font-size: 13px;
  }
  .calculate-text span {
    font-size: 20px;
  }
  .dropdown {
    font-size: 12px;
    width: 90px;
    height: 30px;
  }
  .comm-item {
    width: 450px;
  }
  .black-footer h2 {
    font-size: 20px;
  }
  .black-footer p {
    font-size: 13px;
    padding: 0 60px;
  }
}
@media (max-width: 495px) {
  .col span {
    font-size: 25px;
  }
  .second-block h2 {
    font-size: 20px;
  }
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin-top: 60px;
  }
  .advantage_item {
    width: 280px;
  }
  .advantage_item h3 {
    font-size: 17px;
    font-weight: 500;
  }
  .advantage_item h4 {
    font-size: 13px;
  }
  .advantage_item p {
    font-size: 11px;
    padding-top: 7px;
  }
  .select {
    display: flex;
    flex-direction: column;
  }
  .price {
    width: 250px;
    height: 290px;
  }
  #big-price {
    font-size: 50px;
    padding: 40px 0;
  }
  .price p {
    font-size: 9px;
  }
  .calculate {
    margin: 40px 23px;
  }
  .calculate-text h3 {
    font-size: 20px;
  }
  .calculate-text h5 {
    font-size: 10px;
  }
  .calculate-text p {
    font-size: 10px;
  }
  .calculate-text span {
    font-size: 17px;
    font-weight: 500;
  }
  .amount-of-beds-country {
    flex-direction: column;
  }
  .select {
    margin: 0 auto;
  }
  .dropdown {
    font-size: 12px;
    width: 75px;
    height: 25px;
    margin: 0 auto;
  }
  .comm-item {
    width: 320px;
  }
  .black-footer h2 {
    font-size: 19px;
  }
  .black-footer p {
    font-size: 11px;
    padding: 0 40px;
  }
}

/*# sourceMappingURL=style.css.map */
