.container {
  display: block;
  margin: 0 auto;
}

.black-header {
  background-color: #1E1E1E;
  color: #FFFFFF;
  height: 625px;
}

.space-x-7 {
  text-transform: uppercase;
}

.col {
  margin-top: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col img {
  max-width: 450px;
}

.col a {
  width: 150px;
  text-align: center;
  margin-top: 100px;
  margin-left: 30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row span {
  padding: 30px;
}

.second-block h2 {
  text-align: center;
  margin-top: 30px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info-item {
  display: inline-block;
  width: 295px;
  margin-top: 50px;
  padding: 20px;
  height: 440px;
  background-color: #D4D2CE;
}

.info-item h3 {
  text-align: center;
}

.info p {
  margin-top: 10px;
  text-align: center;
}

.info ul {
  margin-top: 40px;
}

.info li {
  margin-top: 10px;
}

.info .btn-more:hover {
  text-decoration: underline;
}

.black-footer {
  height: 100px;
  background: #1E1E1E;
  color: #FFFFFF;
}