body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  text-align: center;
}

.black-header {
  background-color: #1E1E1E;
  color: #FFFFFF;
  height: 625px;
}

.space-x-7 {
  text-transform: uppercase;
}

.col {
  margin-top: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col a {
  margin-top: 100px;
  margin-left: 30px;
  text-align: center;
  width: 200px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row span {
  padding: 30px;
}

.second-block h2 {
  margin-top: 30px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.5rem;
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 295px;
  margin-top: 50px;
  padding: 20px;
  height: 440px;
  background-color: #D4D2CE;
}

.info-item h3 {
  text-align: center;
  position: relative;
}

.info p {
  margin-top: 10px;
  text-align: center;
  color: #752302;
}

.info ul {
  margin-top: 40px;
}

.info li {
  margin-top: 10px;
}

.btn-more {
  margin-left: 100px;
  position: absolute;
  margin-top: 370px;
}

.info .btn-more:hover {
  text-decoration: underline;
}

.third-block h2 {
  text-align: center;
  margin-top: 100px;
}

.third-block {
  background-color: #EEAE35;
  height: 1000px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.advantage_item {
  padding: 40px;
  width: 460px;
  border-radius: 50px;
  background-color: #FFFFFF;
  height: 300px;
}

.advantage_item h4 {
  color: #752302;
  font-size: 1.1rem;
  padding-top: 10px;
}

.calculate {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.calculate-text {
  margin-left: 50px;
}

.calculate option {
  color: #1E1E1E;
}

.black-footer {
  background: #1E1E1E;
  color: #FFFFFF;
  text-align: center;
  position: relative;
}

.black-footer p {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 25px;
}