$base-color: #1E1E1E
$second-yel-color: #EEAE35
$third-gr-color:#D4D2CE
$fourth-rd-color:#752302
$fifth-wh-color:#FFFFFF

body
    box-sizing: border-box
    overflow-x: hidden 

h2
    text-align: center
    
header
    top: 0
    right: 0
    width: 100%
    z-index: 1000
    display: flex
    align-items: center
    justify-content: space-between
    padding:30px 170px
 
.logo
    font-weight: 600
    font-size: 2rem

.navbar
    display: flex

.navbar a
    color:$fifth-wh-color
    padding: 10px 20px
    font-weight: 500
    text-transform: uppercase

.navbar a:hover
    color:#ff792a
    transition: .4s

#menu-icon
    font-size: 2rem
    cursor: pointer
    display: none

@media(max-width:1560px)
    header
        padding: 15px 40px
    

@media(max-width:900px)

    #menu-icon
        display: initial
    
    header .navbar
        position: absolute
        top: -400px
        left: 0
        right: 0
        display: flex
        flex-direction: column
        text-align: center
        background:#2b2640
        transition: .3s
    
    header .navbar.active
        top: 70px
    
    .navbar a
        padding: 1.5rem
        display: block

        

@media(max-width:720px)
    
    header
        padding: 10px 16px

    .col img
        display: none

    .row
        margin: 0 auto
    
.black-header
    background-color: $base-color
    color: $fifth-wh-color
    height: 625px

.col
    margin-top: 150px
    flex-direction: column
      
.col a 
    margin-top: 100px
    margin-left: 30px
    text-align: center
    width: 200px
.row
    display: flex
    flex-direction: row
    justify-content: space-around

.row span
    padding: 30px

.second-block h2
    margin-top: 60px

.info
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 3.5rem
.info-item
    display: flex
    flex-direction: column
    width: 295px
    margin-top: 50px
    padding: 20px
    height: 440px
    background-color: $third-gr-color

.info-item h3
    text-align: center
    position: relative
.info p
    margin-top: 10px
    text-align: center
    color: $fourth-rd-color

.info ul
    margin-top: 40px

.info li
    margin-top: 10px
.btn-more
    margin-left: 100px
    position: absolute
    margin-top: 370px 
.info .btn-more:hover
    text-decoration: underline
.third-block h2
    text-align: center
    margin-top: 100px
    padding-top: 50px

.third-block
    background-color: $second-yel-color    
    padding-bottom: 100px
    
.wrapper
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr))
    gap: 35px
    margin-top: 100px
    

.advantage_item
    padding: 40px
    width: 450px
    border-radius: 50px
    background-color: $fifth-wh-color
    height: 300px
    margin: 0 auto

.advantage_item h4
    color:$fourth-rd-color
    font-size: 1.1rem
    padding-top: 10px

.fourth-block
    background-color: $base-color
    color: $fifth-wh-color
    text-align: center

.calculate
    border: 2px solid $third-gr-color
    display: inline-block
    margin: 50px 
    border-radius: 30px

.calculate-items
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    margin: 30px
    gap: 150px
    text-align: start

.calculate-text
    margin-left: 50px

.amount-of-beds-country
    margin-top: 50px
    display: flex
    gap: 30px

.dropdown
    width: 190px
    height: 50px
    font-size: 1.2rem
    text-transform: uppercase
    color: $base-color
    cursor: pointer
    outline: none


.price
    width: 330px
    height: 360px
    text-align: center
    background-color: #2B2A2A
    border: 2px solid $third-gr-color
    border-radius: 30px

.comm-section
    display: flex
    flex-direction: row
    justify-content: space-around
    gap: 60px
    margin-top: 80px

    flex-wrap: wrap

.comm-item
    width: 540px
    border: 1px solid $fourth-rd-color
    border-radius: 30px
    padding: 30px

.view-btn 
    display: block
    text-align: center
    margin-top: 70px
.view-btn a
    border-radius: 50px
    padding: 10px
    border: 1px solid $fourth-rd-color

.view-btn a:hover
    background-color: $fourth-rd-color
    color: $fifth-wh-color
.black-footer
    background: $base-color
    color: $fifth-wh-color
    text-align: center
    margin-top: 80px


.black-footer p
    margin-top: 50px
    text-align: center
    padding-bottom: 25px
