$base-color: #1E1E1E
$second-yel-color: #EEAE35
$third-gr-color:#D4D2CE
$fourth-rd-color:#752302
$fifth-wh-color:#FFFFFF

.container 
    display: block
    margin: 0 auto


.black-header
    background-color: $base-color
    color: $fifth-wh-color
    height: 625px

.space-x-7
    text-transform: uppercase

.col
    margin-top: 150px
    flex-direction: column
    
.col img
    max-width: 450px
.col a 
    width: 150px
    text-align: center
    margin-top: 100px
    margin-left: 30px

.row
    display: flex
    flex-direction: row
    justify-content: space-around

.row span
    padding: 30px

.second-block h2
    text-align: center
    margin-top: 30px

.info
    
    
.black-footer
    height: 100px
    background: $base-color
    color: $fifth-wh-color
    